@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;700&display=swap');
body{
   /* background: rgb(195, 195, 214);*/
   background-color: #333;
   color: #fff;
   font-family: Montserrat;
  
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    

}
h2{
    font-size: 35px;
    font-weight: 600;
}
h3{
    font-weight: 400;
}
p{
    font-weight: lighter;
    font-family: montserrat;
}


/*logo da navigacia*/


.navigation{
    margin-top: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.logo{
    display: flex;   
    align-items: center;
}
.logo-img{
    width: 35px;
}
.logo p{
   font-size: 20px;
   margin-left: .3em;
   margin-top: .3em;
   
}
img{
    width: 100%;
    height: 100%;
}

.navbar{
    max-width: 500px;
    width: 100%;
    padding: 1em;
 
    
}
.mobile-nav-toggle{
    display: none;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    
}

.navbar li a{
    color: white;
    padding: .5em .8em;
    
}
.navbar li a:hover{
    color:#1b0fcc;
}



.bg-img{
    position: absolute;
    top:0;
    right:0;
    max-width: 700px;
    width: 100%;
    max-height: 20vh;
    z-index: -1;
}
/*mtavari teqsti da foto*/
.hero-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.hero-img{
    max-width: 450px;
    width: 100%;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 800;
}
.hero-text p{
    max-width: 70%;
    color:#7A839E;
    margin: .7em 0;
    text-transform: lowercase;
}
.hero-text a{
    max-width: 200px;
    width: 100%;
    padding: 1em;
    text-align: center;
    border-radius: 1.5em;
    color: white;
    font-size: smaller;
    background-color: rgb(97, 86, 249);
    transition: 250ms linear;
}
.hero-text a:hover{
    background:rgb(12, 4, 121) ;
    font-weight: 700;
}




/*about us section*/
.about-us{
    display: flex;
    justify-content: space-around;

}
.about-img{
    max-width: 500px;
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    background-image: url(/images/about-bg.svg);
    background-position: center;
    background-repeat: no-repeat;

}
span{
    color: #7E76F9;
}
.about-text h2 {
    font-size: 35px;
    margin: .4em 0 .7em 0;
}
.about-text p{
    color:#7A839E
}
.about-text a{
    max-width: 200px;
    width: 100%;
    padding: .7em 1em;
    text-align: center;
    border-radius: 1.5em;
    color: white;
    background-color:rgba(97, 86, 249);
    margin-top: 1em;
    transition: 250ms linear;

}
.about-text a:hover{
    background:rgb(12, 4, 121) ;
    font-weight: 700;
}


/* .................services section...............*/
.services-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.services-header{
    text-align: center;
    padding: 2em;
    font-weight: 700;
}
.services-header h2{
    margin-bottom: .7em;
}
.services{
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    z-index: 1;
 }
 
 .services-card{
    position: relative;
    max-width: 325px;
    width: 100%;
    height: 375px;
    box-shadow: 
     1px 1px 0px rgb(97, 86, 249),
     2px 2px 0px rgb(97, 86, 249),
     3px 3px 0px rgb(97, 86, 249),
     4px 4px 0px rgb(97, 86, 249),
     5px 5px 0px rgb(97, 86, 249),
     6px 6px 0px rgb(97, 86, 249); 
    background: rgba(31, 27, 28, 0.116);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(97, 86, 249);
    border-left: 1px solid rgba(97, 86, 249);
    backdrop-filter: blur();
    border-radius: 10px;
 }
 .sc-margin
 {
     margin-bottom: 30px;
 }
 .services-content{
     padding: 20px;
     text-align: center;
     color:#7A839E;
     height:200px

     
 }
 .services-content p{
    width: 100%;
    padding: 0;
    text-align: start;
 }
 .services-content h3{
    font-size: 20px;
    margin-bottom: .3em;
    font-weight: 600;
 }
 
 .services-content a{
     display: inline-block;
     position: absolute;
     bottom: 15px;
     padding: 1em;
     margin: 0 auto;
     border-radius: 30px;
     color:white;
     border: 1px solid white;
     font-weight: bold;
     transition: .5s;

 }
 .services-content a:hover {
     background: #fff;
     color:#333
     
    
 }
 .services-image{
     width: 75px;
 }
 
 
 
 
 




                                    /*testimonials section*/

.testimonials-wrapper{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    

}  
.testimonials-header{
    text-align: center;
    margin-top: 2em;
    transform: translateY(45px);
    
}
.testimonials-header h2{
    font-size: 35px;

}
.testimonials{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    color:#7A839E;
}     
.testimonials-card{
    position: relative;
    height: 250px;
}
.testimonials-box{
    max-width: 300px;
    width: 100%;
    height: 200px;
    transition: 0.5s;
}   

.testimonials-box1 {
    position: relative;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    align-items: stretch;
    color:#7A839E;
    transform: translateY(200px);
    height: 150px;
    font-weight: bold;

}  
.testimonials-content{
    opacity:0.4;
    transition: 0.5s;

}
.testimonials-card:hover .testimonials-content{
    opacity: 2;
}
.testimonials-card:hover .testimonials-box.testimonials-box1{
    transform: translateY(50px)
}


.testimonials-box2{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
}   
.small-photo{
    position: absolute;
    width: 160px;
    height: 110px;
    top: 0;
    box-shadow: 0 20px 50px rgba(10, 3, 3, 0.164);
}
.testimonials-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.testimonials-content img{
    border-radius: 50px;
}
.testimonials-content h4{
    position: absolute;
    top:10px;
    font-size: 20px;
    opacity: 1;
    z-index: 4;
}
.testimonials-content h3{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    z-index: 1;
}

.testimonials-content p{
    margin: 0;
    padding: 0;
  
}   
.testimonials-content a{
    margin:15px 0 0;
    display: inline-block;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    position: absolute;
    bottom: 10px;
}   
.testimonials-content a:hover{
    background: #333;
    color: #fff;
}             
/*...........................Contact-usssss..............*/
.contact-us-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.contact-list-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}
.contact-us-heading h2 {
    font-size: 35px;
}

.contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: auto;
}
.mail-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 3em;
    border-radius:50px;
    background-color: rgba(97, 86, 249);
}
.contact-list-wrapper img {
    width: 25px;
}
.contact-list-text h4 {
    margin: .9em 0;

}
.contact-list-text p{
    margin:.5em 0

    
}
.contact-list-text a{
    color: #747cc4;

}
.contacts-form{
    width: 100%;
   margin-top:3em;
   margin-bottom: 5em;
}
form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact-us-textarea{
    width:500px;
    height: 150px;
    margin-right: 2em;
}
textarea{
    width: 100%;
    height: 100%;
   
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text],input[type=email]{
    border:none;
    border-bottom:rgba(97, 86, 249) ;
    height: 30px;
    margin-bottom: 10px;
}
input:focus{
    border-bottom:rgba(97, 86, 249); 
}

input[type=submit]{
    height: 30px;
    width: 100%;
    background:rgba(97, 86, 249)  ;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 250ms linear;
    cursor: pointer;

}
input[type=submit]:hover{
    background:rgb(12, 4, 121) ;
    font-weight: 700;
}
 /* ...............PRICING.....................                  */
.pricing-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
} 
.pricing-packages{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.pricing-header{
    text-align: center;
} 
.pricing-header h2{
    margin:.5em 0 .7em 0;
    font-size: 35px;
    
}   
.package{
    display: flex;
    position: relative;
    align-items: center;
    justify-content:center;
    max-width: 350px;
    width: 100%;
    height: 325px;
    background: #eee6e6ea;
    border-radius:50px;
    box-shadow: rgb(50, 50, 93) 0px 50px 100px -20px, 
    rgba(50, 50, 93) 0px 30px 60px -30px,
    rgba(50, 50, 93) 0px -2px 6px 0px inset;
    transition: .5s ease-in-out;
   

}  
.package:hover{
    margin-bottom: 1em;


}


.package-content{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0 1em;
    color: #3b3e44;
    
}  
.package-content h4{
    font-size:20px;
    

}
.package-content p {
    margin:1.25em
}   
.package-content a{
    margin:5px 0;
    padding: 5px;
    border: 1px solid black;
    color:#333;
    font-weight: bold;
    transition: 250ms linear;
}
.package-content span{
    font-size: 18px;
    font-weight: bold;
    color: #140b94ec;
}
.package-content a:hover{
    background: #333;
    color: #fff;
}
.package-content-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom:0
}
.package:nth-child(1){
    height: 250px;
   display: flex;
   align-items: center;
   border-radius: 50px;
}  
.package:nth-child(2){
    height: 290px;
   display: flex;
   align-items: center;
   border-radius: 50px;
   color: #7E76F9;
}  
/*...............................Footer................*/
footer{
    background: #eee6e6d0;
    border-top-left-radius:50px;
    border-top-right-radius: 50px;
    box-shadow: rgb(50, 50, 93) 0px 50px 100px -20px, 
    rgba(50, 50, 93) 0px 30px 60px -30px,
    rgba(50, 50, 93) 0px -2px 6px 0px inset;
    color:  #747cc4;
}
.footer-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    
}

.quick-links, .Hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #747cc4;
}
.footer-contacts{
    max-width: 15px;
    width: 100%;
    margin-right: 10px;
}
.footer-wrapper img{
    width: 100%;
}
.footer-contact-list{
    display: flex;
    justify-content: flex-start;
    
}
.quick-links a{
    margin-bottom: 8px;
    color:  #747cc4;
}
.footer-contact a{
    color: #747cc4
}
.quick-links h4{
    margin-bottom: 10px;
}
.Hours h4{
    margin-bottom: 10px;
}
.Hours li {
    margin-bottom: 8px;
}
.footer-contact h4{
    margin-bottom: 10px;
}
.footer-contact-list{
   margin-bottom: 10px;
}
h2{
    font-size: 35px;
    font-weight: 700;
}


/*Responsive navigation*/
@media(max-width: 768px){
    .container{
        max-width: 700px;
        width: 100%;
    }
    .primary-navigation{
        position: fixed;
        z-index: 998;
        inset: 0 0 0 40%;
 
        background:#7670c550;
        flex-direction: column;
        padding: min(25vh, 10rem) 2em;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 550ms ease-in-out;
    }
    .primary-navigation[ data-visible="true"]{
        transform: translateX(0%);
    }
    
    .navbar ul a{
        color: rgb(250, 241, 241);
        font-weight: 600;
        font-size: 25px;
        background-color: #5764db;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
   
    
    }
    .navbar ul li{
       padding: 1em;
      
    }
    .navbar ul li:hover{
        background: rgba(6, 42, 117, 0.568);
    }
    .navbar ul li:hover a{
        color: #aa9ddf;

    }
    .mobile-nav-toggle{
        display: block;
        position: fixed;
        background-color: transparent;
        z-index: 999;
        background-image: url(/images/icons8-hamburger-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image 350ms ease-out;
        width: 50px;
        height: 50px;
        top: 2rem;
        right: 2rem;
        border: 0;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(/images/x-icon.png);
        background-repeat: no-repeat;
        transition: background-image 350ms ease-out;
        
       
        
        z-index: 1000;
        
    }
    .hero-img{
        max-width: 300px;
    }
    .about-us{
        margin-top: 4em;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-text{
        width: 70%;
        align-items: center;
        margin-bottom: 2em;
    }
    .about-img{
        max-width: 300px;
    }
    .testimonials-wrapper{
        min-height: 700px;
    }
    .testimonials{
        justify-content: space-around;
        
       
    }
    .testimonials-card:nth-child(3):hover .testimonials-box.testimonials-box1{
        transform: translateY(350px)
    }
    
    .pricing-wrapper{
        flex-direction: column;
    }
    .pricing-packages{
        flex-direction: column;
        align-items: center;
    }
    .package:nth-child(1),.package:nth-child(2){
        height: 300px;
        margin-bottom: 18px;
    }
    .pricing-wrapper{
        margin-top: 5.1em;
        padding-top: 2em;
    }
    .services-card{
        margin-bottom: 1.5em;
    }
    


}
@media(max-width:680px){
    .container{
        max-width: 610px;
        width: 100%;
    }
    .testimonials{
      
        align-items: center;
        opacity: 1;
    }
    .testimonials-box1 {
        transform: translateY(50px);
       
    }
    .testimonials-card:nth-child(3):hover .testimonials-box.testimonials-box1{
        transform: translateY(50px);
        margin-top:20px
    }
    .testimonials-card:nth-child(3){
        margin-top:70px
    }
    .testimonials-card:nth-child(2){
        margin-left:5px
    }
    .testimonials-content{
        opacity: 1;
    }
    .services{
        align-items: center;
        flex-direction: column;
    }
}



    @media(max-width:465px){
        .hero-text{
            width: 300px;
            align-items: center;
            text-align: center;
        }
        .container{
            max-width: 380px;
            width: 100%;
        }
        h2{
            font-size: 15px;
        }
        .hero-div{
            flex-direction: column;
            align-items: center;
        }
        .hero-text h1{
            font-size: 25px;
            font-weight: 800;
        }
        .audit-btn{
            position: absolute;
            bottom:0;
           
        }
        .about-text{
            margin-top: 2em;
            
        }
        .testimonials-header{
            margin-top: 0;
        }
        .testimonials-wrapper{

            height: 700px;
        }
        .testimonials-card{
            margin-bottom: 3.5em;
        }
        footer{
            display: none;
        }
        .pricing-wrapper{
            transform: translateY(40%);
        }
        .package:nth-child(1){
            margin-top: 10px;
        }
        .contact-us-wrapper{
            transform: translateY(55%);
        }
        .contact-list-wrapper{
            flex-direction: column;
            align-items: center;
        }

    }
   

  
    